.stars-outer {
    display: inline-block;
    position: relative;
    font-family: FontAwesome;
  }
  .stars-outer::before {
    content: "\f006 \f006 \f006 \f006 \f006";
  }
  .stars-inner {
    position: absolute;
    top: 0;
    left: 0;
    white-space: nowrap;
    overflow: hidden;
    width: 0;
  }
  .stars-inner::before {
    content: "\f005 \f005 \f005 \f005 \f005";
    color: orange;
  }
  
  /* Estilo para el contenedor de estrellas y rate */
  .stars-and-rate {
    display: flex;
    align-items: center; /* Centra verticalmente */
  }
  
  /* Estilo para el rate (puntaje) */
  .stars-and-rate span {
    margin-left: 5px; /* Espacio entre las estrellas y el rate */
  }
  